<div class="dialog-title">Debe Renovar Su Contraseña</div>
<mat-dialog-content>
  <form [formGroup]="passwordForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput type="password" formControlName="confirmar">
    </mat-form-field>

    <mat-error *ngIf="passwordForm.hasError('noCoinciden')">
      Las contraseñas no coinciden.
    </mat-error>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="aceptar()" [disabled]="passwordForm.invalid">
    Aceptar
  </button>
</mat-dialog-actions>
