.main-container {
    width: 95%;
    margin: auto;
    padding: 40px;
    background: #f3f3f3; /* Fondo gris para todo el contenedor */
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.8s ease-in-out; /* Transición para todo el contenedor */
  }
  
  .producto-form {
    width: 100%;
    margin: auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    padding: 5px 0px 30px;
    display: flex; /* Esto permite usar justify-content y align-items */
    justify-content: center; /* Lo centra horizontalmente */
    align-items: center; /* Lo centra verticalmente si alguna vez lo necesitás */
  }

  .producto-form mat-card {
    width: 700px;
  }
  
  mat-card {
    margin-top: 20px;
    border-radius: 12px;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-title {
    font-size: 26px;
    font-weight: bold;
    color: #1976d2;
    text-align: center;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
  }
  
  .filter-container {
    display: flex;
    gap: 20px; /* Espaciado entre los filtros */
    margin-bottom: 20px;
    flex-wrap: nowrap; /* Evita que se vayan para abajo */
    justify-content: flex-start; /* Alineados a la izquierda */
    align-items: center; /* Alineados verticalmente */
  }
  
  button[mat-raised-button] {
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  button[mat-raised-button]:hover:not(:disabled) {
    background: #1565c0;
    color: #fff;
    box-shadow: 0 4px 10px rgba(25, 118, 210, 0.3);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  mat-select {
    display: block;
    position: relative;
    z-index: 10000;
  }