<mat-card class="main-container">
  <mat-card-title>{{ data.title }}</mat-card-title>
  <mat-card-content class="scroll-container">

    <div class="filter-container" *ngIf="data.filterableColumns && data.filterableColumns.length">

      <ng-container *ngIf="data.filterableColumns.includes('all')">
        <mat-form-field appearance="outline">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter('all', $event)" placeholder="Buscar">
        </mat-form-field>
      </ng-container>

      <ng-container *ngFor="let column of data.filterableColumns">
        <ng-container *ngIf="column !== 'all'">
          <mat-form-field appearance="outline">
            <mat-label>Buscar Por {{ (data.columnNames && data.columnNames[column]) || column }}</mat-label>
            <input matInput (keyup)="applyFilter(column, $event)" placeholder="Filtrar Por {{ (data.columnNames && data.columnNames[column]) || column }}">
          </mat-form-field>
        </ng-container>
      </ng-container>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container *ngFor="let column of data.columns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef class="centered-header"> {{ (data.columnNames && data.columnNames[column]) || column }} </th>
        <td mat-cell *matCellDef="let row" class="centered-cell"
            [ngClass]="{
              'estado-tiempo': column === 'estadoDevolucion' && formatValue(row, column) === 'A TIEMPO',
              'estado-atrasado': column === 'estadoDevolucion' && formatValue(row, column) === 'ATRASADO'
            }">
          {{ formatValue(row, column) }}
        </td>
      </ng-container>

      <ng-container *ngIf="data.onRemove" matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="centered-header"> Acciones </th>
        <td mat-cell *matCellDef="let row" class="centered-cell">
          <button mat-icon-button color="warn" (click)="data.onRemove!(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="finalColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: finalColumns"></tr>
    </table>

    <mat-paginator
      [pageSize]="20"
      [pageSizeOptions]="[20, 50, 100]"
      showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="close()">Cerrar</button>
  </mat-card-actions>
</mat-card>
  