<div class="login-wrapper">
    <div class="left-panel"></div>
    <div class="right-panel">
        <div class="logo-container"> <img src="../../../assets/images/logo.png" alt="Logo" class="logo" />
        </div>
        <mat-card class="login-card">
            <mat-card-header>
                <mat-card-title class="title">Bienvenido</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Legajo</mat-label>
                        <input matInput formControlName="username" type="text" autocomplete="off">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password" type="password" autocomplete="new-password">
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
            
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>
            
                    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="full-width">
                        LOG IN
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="app-version">v0.1.20250520</div>
</div>