<div class="dialog-container">
  <div class="dialog-title">{{ data.title }}</div>
  
  <form [formGroup]="form">
    <div class="dialog-form-grid">

      <!-- Normal fields -->
      <ng-container *ngFor="let field of data.fields">
        <ng-container *ngIf="!field.multiple && field.type !== 'serie-selector'">
          <mat-form-field appearance="outline">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [formControlName]="field.name" [type]="field.type || 'text'">
            <mat-error *ngIf="form.get(field.name)?.hasError('required')">Campo obligatorio</mat-error>
          </mat-form-field>
        </ng-container>

        <!-- Multiple fields -->
        <ng-container *ngIf="field.multiple">
          <label class="field-label">{{ field.label }}</label>
          <div formArrayName="{{ field.name }}">
            <div *ngFor="let ctrl of getFieldArray(field.name).controls; let i = index">
              <div class="multiple-field-container">
                <mat-form-field appearance="outline" class="multiple-field">
                  <input matInput [formControlName]="i" placeholder="{{ field.label }} #{{ i + 1 }}">
                </mat-form-field>
                <button mat-icon-button color="warn" (click)="removeField(field.name, i)" *ngIf="form.get(field.name)?.value.length > 1">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <button mat-icon-button color="primary" (click)="addField(field.name)" aria-label="Agregar" class="add-btn">
            <mat-icon>add</mat-icon>
          </button>
        </ng-container>

        <!-- Selector de Números de Serie -->
        <ng-container *ngIf="field.type === 'serie-selector' && field.name === 'numeroDeSerie' && seriesDisponibles.length > 0">
          <label class="field-label">{{ field.label }}</label>

          <mat-form-field appearance="outline">
            <mat-label>Seleccionar Números de Serie</mat-label>
            <mat-select [formControlName]="field.name" multiple>
              <mat-option *ngFor="let serie of seriesDisponibles" [value]="serie">
                {{ serie.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Listado de series seleccionadas -->
          <div class="series-selector-list">
            <div *ngFor="let serie of form.get(field.name)?.value" class="serie-chip">
              {{ serie.label }}
              <mat-icon (click)="eliminarItem(serie)">close</mat-icon>
            </div>
          </div>
        </ng-container>

        <!-- Selector de Código -->
        <ng-container *ngIf="field.type === 'serie-selector' && codigosDisponibles.length > 0 && field.name === 'codigo'">
          <label class="field-label">{{ field.label }}</label>

          <mat-form-field appearance="outline">
            <mat-label>Seleccionar Código</mat-label>
            <mat-select [formControlName]="field.name" multiple>
              <mat-option *ngFor="let codigo of codigosDisponibles" [value]="codigo">
                {{ codigo.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="series-selector-list">
            <div *ngFor="let codigo of form.get(field.name)?.value" class="serie-chip">
              {{ codigo.label }}
              <mat-icon (click)="eliminarItem(codigo)">close</mat-icon>
            </div>
          </div>
        </ng-container>

        <!-- Selector de Códigos Antiguos -->
        <ng-container *ngIf="field.type === 'serie-selector' && field.name === 'codigoAntiguo' && codigosAntiguosDisponibles.length > 0">
          <label class="field-label">{{ field.label }}</label>

          <mat-form-field appearance="outline">
            <mat-label>Seleccionar Códigos Antiguos</mat-label>
            <mat-select [formControlName]="field.name" multiple>
              <mat-option *ngFor="let codigo of codigosAntiguosDisponibles" [value]="codigo">
                {{ codigo.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Listado de códigos seleccionados -->
          <div class="series-selector-list">
            <div *ngFor="let codigo of form.get(field.name)?.value" class="serie-chip">
              {{ codigo.label }}
              <mat-icon (click)="eliminarItem(codigo)">close</mat-icon>
            </div>
          </div>
        </ng-container>

      </ng-container>
    </div>
  </form>

  <div class="dialog-actions">
    <button mat-raised-button color="primary" (click)="confirm()" [disabled]="form.invalid">Cargar</button>
    <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
  </div>
</div>
