<div class="main-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <div class="logo-container" (click)="abrirGraficos()">
        <img src="../../../assets/images/logo.png" alt="Logo" class="logo" />
      </div>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <ng-container *ngFor="let item of menuItems">
          <ng-container *ngIf="canView(item)">
            <ng-container *ngIf="item.subItems; else simpleItem">
              <button
                mat-button
                [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{ item: item }"
                class="menu-item"
                (click)="setMenuTop(item.position)"
              >
                <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
                <strong>{{ item.label }}</strong>
              </button>

              <mat-menu #menu="matMenu" [xPosition]="'after'" [yPosition]="'above'" [overlapTrigger]="false">
                <ng-container *ngFor="let subItem of item.subItems">
                  <button
                    *ngIf="canView(subItem)"
                    mat-menu-item
                    (click)="selectComponent(subItem.component, subItem.data)"
                  >
                    <mat-icon class="submenu-icon">{{ subItem.icon }}</mat-icon>
                    {{ subItem.label }}
                  </button>
                </ng-container>
              </mat-menu>
            </ng-container>

            <ng-template #simpleItem>
              <!-- Sin submenú (como Proveedores) -->
              <button
                mat-button
                class="menu-item"
                (click)="selectComponent(item.component, item.data); setMenuTop(item.position)"
              >
                <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
                <strong>{{ item.label }}</strong>
              </button>
            </ng-template>
          </ng-container>  
        </ng-container>
      </mat-nav-list>

      <!-- ✅ Sección del Usuario Logueado -->
      <div class="user-section">
        <mat-icon class="user-icon">account_circle</mat-icon>
        <div class="user-info">
          <span class="user-name">{{ usuario?.nombre }}</span>
          <button mat-icon-button color="warn" (click)="logout()" class="logout-button">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </div>
      
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <ng-container *ngComponentOutlet="selectedComponent; injector: createInjector()"></ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
