@use '@angular/material' as mat;
@include mat.core();

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-menu-panel {
    position: absolute !important;
    top: 70px !important;
    left: 250px !important; 
}

.cdk-overlay-pane {
    display: initial !important;
}

.mat-mdc-menu-panel {
    background-color: #1e293b !important;
}

.mat-mdc-menu-item {
    color: white !important;

    &:hover {
        background-color: #334155 !important;
    }
}

.mat-icon-no-color {
    color: rgb(2, 152, 229) !important;
}