@use '@angular/material' as mat;
@include mat.core();

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
    --menu-top: 70px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-menu-panel {
    position: absolute !important;
    top: var(--menu-top) !important; 
    left: 250px !important; 
}

.cdk-overlay-pane {
    display: initial !important;
}

.mat-mdc-menu-panel {
    background-color: #1e293b !important;
}

.mat-mdc-menu-item {
    color: white !important;

    &:hover {
        background-color: #334155 !important;
    }
}

.mat-icon-no-color {
    color: rgb(2, 152, 229) !important;
}

.mat-mdc-snack-bar-container.snack-bar-success .mat-mdc-snackbar-surface {
  background-color: #198754 !important;
  color: #fff !important;
}

.mat-mdc-snack-bar-container.snack-bar-error .mat-mdc-snackbar-surface {
  background-color: #dc3545 !important;
  color: #fff !important;
}

.snack-bar-custom {
  min-width: 400px; /* Aumenta el ancho mínimo */
  max-width: 600px; /* Define un máximo */
  text-align: center; /* Centra el texto */
}

/* 🔹 Centrar solo el texto sin afectar el icono */
.mat-sort-header-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-grow: 1; /* Permite que el texto ocupe todo el ancho */
}

/* 🔹 Posicionar el icono de ordenamiento sin afectar el centrado del texto */
.mat-sort-header-arrow {
    position: absolute !important; /* Lo saca del flujo del flexbox */
    right: 0px; /* Ajusta la posición del icono */
}