.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;

  .dialog-icon {
    font-size: 48px;
    margin-bottom: 10px;
    min-height: fit-content;
    min-width: fit-content;
    color: var(--icon-color, #2196f3) !important;
  }

  .dialog-message {
    font-size: 16px;
    margin: 0 0 24px 0;
    color: #333;
    word-break: break-word;
    font-weight: bold;
    //line-height: 1.4;
  }

  .dialog-actions {
    display: flex;
    justify-content: center;
    gap: 16px;

    button {
      min-width: 80px;
      font-weight: 500;
    }
  }
}