<div class="dialog-container">
  <mat-icon class="dialog-icon" [ngStyle]="{ '--icon-color': data.iconColor || '#2196f3' }">
    {{ data.icon || 'help_outline' }}
  </mat-icon>
  <p class="dialog-message">{{ data.message }}</p>

  <div class="dialog-actions">
    <button mat-raised-button color="primary" *ngIf="data.okOnly" (click)="confirm()">
      {{ data.okLabel || 'OK' }}
    </button>
    <ng-container *ngIf="!data.okOnly">
      <button mat-raised-button color="warn" (click)="confirm()">Sí</button>
      <button mat-raised-button (click)="cancel()">No</button>
    </ng-container>
  </div>
</div>